.hero-div {
    margin-top: 10vh;
}

.hero {
    height: 55vh;
    background-color: transparent !important;
}

.hero-text{
    text-align: center;
    position: relative;
}

.hero-text > p{
    font-size: 1rem;
}

.hero h1 {
    font-size: 4vw;
    font-weight: bold;
}

.intro {
  font-weight: bold;
}

.heading-wrapper h1{
    text-align: center;
    line-height: 6vh;
}

.lead {
    padding-top: 20px;
}