.section-header{ 
    font-weight: bold;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 50px;
}

.project-item-container {
    margin-bottom: 4vh;
}

.project-item-container h5 {
    font-weight: bold;
}

.project-item {
    height: 100%;
}
.project-item:hover {
        transform: scale(1.1);
    }

.project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}